.vis-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --main-bgc-color: #ffffff;
  --secondary-bgc-color: #f5f4fa;
  --accent-color: #2196f3;
  --hero-footer-bgc: #2f303a;
  --contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bgc-color);
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding-left: 0px;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

/* Утиліти*/

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.conteiner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.page-header {
  border-bottom: 1px solid #ececec;
}

/* main-nav*/
.nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* Side-nav*/

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Auth-nav*/

.auth-nav {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}
.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .adress-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.auth-nav .adress-link:hover,
.auth-nav .adress-link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding: 25px 0;
  letter-spacing: 0.03em;
}
.logo-wrap {
  color: var(--accent-color);
}

/* Main*/

.features-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  flex-basis: calc((100%-90px) / 4);
}
.work-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  flex-basis: calc((100%-90px) / 3);
}
.team-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  flex-basis: calc((100%-90px) / 4);
}
.team-section {
  background-color: var(--secondary-bgc-color);
}
.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Portfolio*/

.filter-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-title {
  text-align: center;
  margin-top: 0px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100%-90px) / 3);
}

.portfolio-border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.section-work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.work-title-main,
.team-title-main {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  text-align: center;
}

.section-features {
  padding-top: 94px;
  padding-bottom: 47px;
}
.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}

.features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  width: 270px;
}

.team-box {
  background-color: var(--main-bgc-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}
.team-text {
  text-align: center;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Button*/

.btn {
  padding: 6px 22px;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bgc-color);
  font-weight: 500;
  line-height: 1.6;
  border-radius: 4px;
  border-color: transparent;
  letter-spacing: 0.03em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--main-bgc-color);
}

/* Hero*/
.hero {
  text-align: center;
  background: var(--hero-footer-bgc);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bgc-color);
  width: 696px;
}

.hero-btn {
  cursor: pointer;
  color: var(--main-bgc-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: 0px;
  letter-spacing: 0.06em;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
}

/* Footer*/
.address {
  font-style: normal;
}
.page-footer {
  background: var(--hero-footer-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  display: flex;
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-bgc-color);
  text-decoration: none;
}

.adress-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-bgc-color);
}
.adress-footer:hover,
.adress-footer:focus {
  color: var(--accent-color);
}

.footer-contacts .contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts .contact-link:hover,
.footer-contacts .contact-link:focus {
  color: var(--accent-color);
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
